.domain-section {
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  padding-block-start: 64px;
}

.container-domain-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.domain-card {
  background-color: var(--clr-one);
  border-radius: 16px;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  box-shadow: 0px 2px 8px var(--clr-box-shadow);
  /* -1px -1px 2px -72px var(--clr-box-shadow); */
  position: relative;
}

.domain-card-bar {
  position: absolute;
  width: 4px;
  height: 50%;
  background-color: var(--clr-accent);
  border-radius: 4px;
}

.right-bar {
  top: 10px;
  left: 0;
}

.left-bar {
  bottom: 10px;
  right: 0;
}

.domain-card-img {
  width: 72px;
  height: 72px;
  border-radius: 16px;
}

.domain-card-heading {
  color: var(--clr-accent);
  font-size: 20px;
}

.domain-card-para {
  line-height: 1.6;
  color: var(--clr-medium-light);
  max-width: 500px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .domain-card {
    max-width: 350px;
    margin: auto;
  }
}

@media only screen and (max-width: 548px) {
  .container-domain-cards {
    grid-template-columns: auto;
  }
  .domain-card {
    padding: 24px;
  }
}
