@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.motto-section {
  background-color: var(--clr-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.about-video {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 50%;
  margin-bottom: 4rem;
}

/* .about-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.container-motto iframe {
  border: 2px solid var(--clr-light);
  border-radius: 16px;
}

.container-motto .lines {
  width: 25%;
  height: auto;
  position: absolute;
  z-index: 0;
  right: -12.5%;
  top: 5%;
  opacity: 0.8;
}

.motto-description {
  text-align: center;
  /* background-color: rgb(224, 224, 224); */
  padding: 4rem 0;
  border-radius: 4px;
  /* color: black; */
}

.motto-description .motto-title {
  font-size: 2.5rem;
  margin: auto;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: var(--fw-regular);
}

@media only screen and (max-width: 908px) {
  .motto-description .motto-title {
    font-size: 32px;
    margin-inline: auto;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .motto-description .motto-title {
    font-size: 28px;
  }
}

.motto-description .motto-text {
  font-size: 20px;
  word-spacing: 8px;
  letter-spacing: 4px;
  font-family: "Lobster", cursive;
  color: var(--clr-light);
}

@media screen and (max-width: 548px) {
  .about-video {
    padding-bottom: 75%;
  }
}
