.project-showcase-section {
  margin-block: 128px;
}

.project-showcase-section h2 {
  text-align: center;
  margin: auto;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--clr-accent);
  font-weight: var(--fw-regular);
}

.project-showcase-container {
  min-height: max-content;
  max-width: 1368px;
  margin: auto;
  padding: var(--gen-padding);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.project-showcase-image-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-showcase-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.project-showcase-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
  text-align: left;
}

.project-showcase-title {
  color: var(--clr-accent);
}

.project-showcase-text-container p {
  line-height: 1.6;
}

.project-showcase-left-side-btn {
  width: max-content;
}

.project-showcase-text-container .btn-rectangular {
  background-color: var(--clr-accent);
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  transition: background-color 250ms ease;
  border: 0;
  cursor: pointer;
}

.project-showcase-text-container .btn-rectangular:hover {
  background-color: var(--clr-accent-light);
}

.project-showcase-text-container .btn-rectangular i {
  margin-left: 12px;
}

.carousel-cell {
  width: 100%;
  display: flex;
  align-items: center;
}

.flickity-button-icon {
  color: var(--clr-accent-light);
}

.flickity-page-dots .dot {
  background: #9900f8 !important;
}

/* Responsive */

@media (max-width: 950px) {
  :root {
    --gen-padding: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .project-showcase-container {
    grid-template-columns: auto;
  }

  .flickity-prev-next-button {
    top: calc(100% - 5px) !important;
    transform: none !important;
  }
}

@media only screen and (max-width: 400px) {
  .project-showcase-text-container h1 {
    font-size: 20px;
  }
}
