.project-section {
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  padding-block: 4rem;
}

.container-project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

.project-card {
  background-color: var(--clr-one);
  border-radius: 16px;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  box-shadow: 0px 4px 24px -8px var(--clr-box-shadow);
  /* -1px -1px 2px -72px var(--clr-box-shadow); */
  position: relative;
}

.project-card-bar {
  position: absolute;
  width: 4px;
  height: 50%;
  background-color: var(--clr-accent);
  border-radius: 4px;
}

.right-bar {
  top: 10px;
  left: 0;
}

.left-bar {
  bottom: 10px;
  right: 0;
}

.project-card-img {
  width: 72px;
  height: 72px;
  border-radius: 16px;
}

.project-card-heading {
  color: var(--clr-accent);
}

.project-card-para {
  line-height: 1.6;
  color: var(--clr-medium-light);
}

@media screen and (max-width: 548px) {
  .container-project-cards {
    grid-template-columns: auto;
  }
  .project-card {
    padding: 32px 16px;
  }
}
